/* helpers */
.text-center {
  text-align: center
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;

}
.clearfix { display: inline-block;  }
* html .clearfix { height: 1%;  }
* .clearfix { display: block;  }

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pull-right {
    float: right
}
.pull-left {
    float: left
}
/* end helpers */

.header {
    height: 40px;
}

.logo {
    width: 80px;
}

.logo.top {
    padding-top: 20px
}

.message {
  padding: 40px 0 15px 0
}

/* assign */
.assign-item td{
  color: #fff;
}

.assign-item .assign-avatar {
  width: 130px
}

.assign-item .assign-avatar td {
  padding: 0
}

.assign-item .assign-footer {
  color: #fff;
  background: rgba(255,255,255, 0.3);
}
.assign-item .category-item {
  vertical-align: middle
}

.assign-item .category-item .category-icon {
  padding-bottom: 10px
}

.assign-item .assign-user-name {
  width: 100%;
  display: block;
  padding: 3px 0;
  bottom: 0;
  background: rgba(0,0,0, 0.6);
  font-size: 0.8em;
}
/* end assign */

.footer {
  padding-top: 50px
}

.footer img {
  width: 130px;
}

/*media queries*/
@media only screen and (max-width: 600px) {
  table[class="body"] .assign-item .assign-avatar img{
    width: 100px !important;
  }
  table[class="body"] .footer img{
    width: 100px !important;
  }
  table[class="body"] .logo{
    width: 80px !important;
  }
  table[class="body"] .wrapper{
    display: table-cell !important;
  }
}

