<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="styles/style.css" inline=""/>
  </head>
  <body>
    <table class="body">
	<tr>
        <td align="center" valign="top" class="center">
          <center>
              <table class="container">
                  <tr>
                      <td class="mdc-bg-pink-100 header">
                          <img src="{{ imagesBaseUrl }}estrellame_logo_top.png" class="logo top center">
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <img src="{{ imagesBaseUrl }}estrellame_logo_bottom.png" class="logo center">
                      </td>
                  </tr>
                  <tr>
                      <td class="message">
                          <h5 class="mdc-text-pink text-center"><strong>{{ userFirstName  }}</strong> te ha asignado una estrella</h5>
                          <br>
                      </td>
                  </tr>
                  <tr class="mdc-bg-cyan assign-item">
                      <td>
                          <a href="https://www.edrans.me" target="_blank">
                              <table class="row ">
                                  <tr>
                                      <td class="wrapper">
                                          <table class="four columns">
                                              <tr>
                                                  <td class="left-text-pad">
                                                      <table class="assign-avatar pull-left">
                                                          <tr>
                                                              <td>
                                                                  <img src="{{ userFromPicture }}">
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td>
                                                                  <span class="assign-user-name text-center text-ellipsis">{{ userFrom  }}</span>
                                                              </td>
                                                          </tr>
                                                      </table>
                                                  </td>
                                                  <td class="expander"></td>
                                              </tr>
                                          </table>
                                      </td>
                                      <td class="wrapper category-item">
                                          <table class="four columns">
                                              <tr>
                                                  <td class="text-center">
                                                      <img src="{{ imagesBaseUrl  }}categories/{{ categoryImageName  }}.png" class="category-icon center">
                                                      <span class="category-title">{{ category  }}</span>
                                                  </td>
                                                  <td class="expander"></td>
                                              </tr>
                                          </table>
                                      </td>
                                      <td class="wrapper last ">
                                          <table class="four columns">
                                              <tr>
                                                  <td class="right-text-pad">
                                                      <table class="assign-avatar pull-right">
                                                          <tr>
                                                              <td>
                                                                  <img src="{{ userToPicture }}">
                                                              </td>
                                                          </tr>
                                                          <tr>
                                                              <td>
                                                                  <span class="assign-user-name text-center text-ellipsis">{{ userTo  }}</span>
                                                              </td>
                                                          </tr>
                                                      </table>
                                                  </td>
                                                  <td class="expander"></td>
                                              </tr>
                                          </table>
                                      </td>
                                  </tr>
                              </table>
                          </a>
                          <table class="row assign-footer">
                              <tr>
                                  <td class="wrapper last">
                                      <table class="twelve columns">
                                          <tr>
                                              <td class="text-center">
                                                  {{ comment  }}
                                              </td>
                                              <td class="expander"></td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td class="footer">
                          <img src="{{ imagesBaseUrl }}logotipo_edrans.png" class="center">
                      </td>
                  </tr>
              </table>
            <!-- Email content-->
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
